@model worbench.Models.Vehicle

@{
    ViewData["Title"] = "Dodaj pojazd";
}

<h2>Dodaj pojazd</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form asp-action="CreateVehicle" asp-controller="Client" method="post">


    @Html.AntiForgeryToken()
    
    <div class="form-group">
        <label asp-for="Make" class="control-label"></label>
        <input asp-for="Make" class="form-control" />
        <span asp-validation-for="Make" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model" class="control-label"></label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label"></label>
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VIN" class="control-label"></label>
        <input asp-for="VIN" class="form-control" />
        <span asp-validation-for="VIN" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RegistrationNumber" class="control-label"></label>
        <input asp-for="RegistrationNumber" class="form-control" />
        <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Powrót</a>
    </div>
    <div class="text-danger">
        @foreach (var modelState in ViewData.ModelState.Values)
        {
            foreach (var error in modelState.Errors)
            {
                <p>@error.ErrorMessage</p>
            }
        }
    </div>

</form>

